.container button[type="submit"], 
.container button[type="reset"] {
  width: 250px;
  height: 50px;
  margin-top: 30px;
  background: #858585;
  border-bottom: 4px solid #858585;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 25px;
}
.container button[type="reset"]:active {
  background: pink;
}
.container button[type="submit"]:active {
  background: lightgreen;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}